In [1]:
import numpy as np
import pandas as pd
from datetime import date

from sqlalchemy import Table, select, MetaData,create_engine, Column, Integer, String, Numeric, Text, Float
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base

In [2]:
#vaction days 3 to 15
myStartDate = date(2010, 1, 1)
myEndDate =   date(2010, 1, 10)

In [3]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
metadata = MetaData()

# This did NOT work nor did Ins_PandasReadAndWriteSQL from instructor
# Base = automap_base()
# Base.prepare(engine, reflect=True)
# conn = engine.connect()
 



mTable= Table('measurements', metadata,autoload=True, autoload_with=engine)
sTable = Table('stations', metadata,autoload=True, autoload_with=engine)
stmnt = select([sTable.c.station,mTable.c.date,mTable.c.prcp]).where( mTable.c.date > "2016-8-23")
out_df = pd.read_sql(stmnt, engine,index_col = 'date')

output_gb = out_df.groupby(['station','date']).sum()

output_gb

                        prcp
station     date
USC00511918 2017-01-01  0.42
            2017-01-02  0.02
            2017-01-03  0.07
            2017-01-04  0.18
            2017-01-05  0.95
            2017-01-06  0.80
            2017-01-07  0.06
            2017-01-08  0.06
            2017-01-09  0.06
            2017-01-10  0.06
            2017-01-11  0.06
            2017-01-12  0.06
            2017-01-13  0.06
            2017-01-14  0.01
            2017-01-15  0.01
            2017-01-16  0.00
            2017-01-17  0.00
            2017-01-18  0.07
            2017-01-19  0.02
            2017-01-20  0.00
            2017-01-21  0.28
            2017-01-22  1.02
            2017-01-23  0.96
            2017-01-24  2.25
            2017-01-25  3.60
            2017-01-26  0.11
            2017-01-27  0.06
            2017-01-28  0.14
            2017-01-29  0.99
            2017-01-30  0.05
...                      ...
USC00519523 2017-07-25  0.61
            2017-07-26  0.50
            2017-07-27  0.01
            2017-07-28  0.77
            2017-07-29  0.61
            2017-07-30  0.30
            2017-07-31  0.03
            2017-08-01  0.14
            2017-08-02  0.30
            2017-08-03  0.07
            2017-08-04  0.06
            2017-08-05  0.12
            2017-08-06  0.06
            2017-08-07  0.05
            2017-08-08  0.44
            2017-08-09  0.15
            2017-08-10  0.07
            2017-08-11  0.07
            2017-08-12  0.14
            2017-08-13  0.14
            2017-08-14  0.31
            2017-08-15  0.82
            2017-08-16  0.61
            2017-08-17  0.19
            2017-08-18  0.19
            2017-08-19  0.14
            2017-08-20  0.10
            2017-08-21  0.63
            2017-08-22  0.50
            2017-08-23  0.53

[2115 rows x 1 columns]